.mw-50{
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.what-i-work{
    color: var(--white-100);
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100px * 7));
    }
  }

@keyframes scroll-right{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(100px * 7));
  }
}

  .slider {
    background: var(--black-all);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 800px;
    border-radius: 8px;
  }
  
  .slider::before, .slider::after {
    background: linear-gradient(to right, #111111 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 160px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slider .slide-track {
    animation: scroll 20s linear infinite alternate;
    display: flex;
    width: calc(230px * 14);
  }
  
  .slider .slide {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
    width: 200px;
  }

  .slide img{
    width: 30px;
    height: 30px;
  }

  .slide{
    height: 100px;
    width: 100px;
  }

  .slide span{
    color: var(--white-100);
    font-size: 1.3rem;
    font-weight: 600;
  }



  /* SECONDD SLIDE  */
  .slider2 {
    background: var(--black-all);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 800px;
    border-radius: 8px;
  }
  
  .slider2::before, .slider2::after {
    background: linear-gradient(to right, #111111 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 160px;
    z-index: 2;
  }
  
  .slider2::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider2::before {
    left: 0;
    top: 0;
  }
  
  .slider2 .slide-track2 {
    animation: scroll-right 20s linear infinite alternate;
    display: flex;
    width: calc(230px * 14);
    position: relative;
    left: -100%;
  }
  
  .slider2 .slide {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
    width: 200px;
  }

  .slide img{
    width: 30px;
    height: 30px;
  }

  .slide{
    height: 100px;
    width: 100px;
  }

  .slide span{
    color: var(--white-100);
    font-size: 1.3rem;
    font-weight: 600;
  }